:root {
	--clr-white: #f0f0f0;
	--clr-black: #121212;

	--clr-grey: #4f4f4f;

	--clr-blue: #00b0ff;
	--fonts-f: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--clr-white);
	color: var(--clr-black);
	font-family: var(--fonts-f);
	line-height: 1.5;
}

/* ::selection {
	background: var(--clr-blue);
} */

img {
	max-width: 100%;
	display: block;
}

ul,
li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--clr-black);
}

section {
	padding: 4em 0;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 0.8em 2.3em;
	border: 0;
	background: 0;
	font-family: inherit;
	font-size: 1rem;
	border-radius: 6px;
	font-weight: 500;
	cursor: pointer;
}

.banner-btn {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
}

.btn-primary {
	background: var(--clr-blue);
	color: var(--clr-white);
	border: 1px solid var(--clr-blue);
	width: 200px;
}

.btn-primary:hover,
.btn-primary:active {
	background: none;
	color: var(--clr-blue);
}

.btn-secondary {
	color: var(--clr-blue);
	border: 1px solid var(--clr-blue);
	width: 200px;
}

.btn-card {
	border: 0;
	color: #828282;
	background: #e0e0e0;
	border-radius: 12px;
	padding: 0.5em 1em;
	font-family: inherit;
	font-weight: 500;
	cursor: pointer;
}

.btn-card:hover,
.services-card:focus {
	background: var(--clr-blue);
	color: var(--clr-white);
}

.btn-submit {
	background-color: var(--clr-blue);
	color: var(--clr-white);
	border: 1px solid var(--clr-blue);
	margin-top: 1em;
}

.btn-submit:hover,
.btn-submit:focus {
	background: 0;
	color: var(--clr-blue);
	border: 1px solid var(--clr-blue);
}

/* layout */
.container {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

/* header */
.header {
	background: #fff;
}

.header-logo {
	/* color: var(--clr-blue); */
	z-index: 100;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar {
	display: flex;
	align-items: center;
}

.mobile-menu {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	z-index: 50;
}

.bar {
	width: 25px;
	height: 3px;
	background: var(--clr-blue);
	margin-top: 3px;
}

/* ADDING MOBILE MENU STYLING */

.navbar-list {
	/* display: none */
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: var(--clr-black);
	z-index: 20;
	transition: all 0.3s ease-in-out;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-list.active {
	left: 0;
	transition: all 0.3s ease-in-out;
}

.navbar-list li {
	padding-top: 1rem;
}

.navbar-list li a {
	color: var(--clr-white);
	font-size: 1.3rem;
}

.navbar li a:hover {
	border-bottom: 1px solid var(--clr-blue);
}

/* banner area */
.banner {
	display: flex;
	flex-direction: column;
}

.banner-title {
	font-size: 3.75rem;
	line-height: 1;
	margin: 1em 0;
	font-weight: 500;
}

.banner-text {
	max-width: 37ch;
	font-weight: 300;
	margin: 0 0 3em;
}

.banner-img {
	margin: 2em 0;
	/* display: none; */
}

/* about section */
.about-us {
	text-align: center;
}

.highlight {
	color: var(--clr-blue);
	font-weight: 500;
}

.about-text {
	max-width: 35ch;
	margin-left: auto;
	margin-right: auto;
}

/* services */
.services {
	display: grid;
	gap: 2em;
}

.services-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2em;
	cursor: pointer;
	border-radius: 24px;
}

.services-title {
	text-align: center;
	font-weight: 500;
}

.services-card:hover,
.services-card:focus {
	box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.services-icon {
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	border-radius: 16px;
	color: var(--clr-white);
}

.icon-1 {
	background: var(--clr-blue);
}
.icon-2 {
	background: #27ae60;
}
.icon-3 {
	background: #eb5757;
}
.icon-4 {
	background: #fe7f9c;
}

.services-card-title {
	color: #333;
}

.services-card-text {
	color: var(--clr-grey);
	max-width: 29ch;
	margin: 1.5em 0;
}

/* projects section */
.projects {
	display: grid;
	gap: 4em;
}

.project-card-text {
	color: var(--clr-grey);
}

.project-img {
	border-radius: 4px;
}

/* testimonials section */
.tests-title {
	text-align: center;
}

.tests-text {
	max-width: 37ch;
	margin-bottom: 0.5em;
}

.tests-details {
	display: flex;
	align-items: center;
	gap: 1em;
	font-size: 0.9rem;
}

.tests-name {
	margin-bottom: 0;
}

.tests-work {
	margin-top: 0;
}

.tests-img {
	width: 50px;
	border-radius: 100vh;
}

/* contact us section */
.contact-title {
	text-align: center;
}

.contact label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0;
}

.contact input,
textarea {
	display: block;
	width: 100%;
	padding: 1em;
	border-radius: 6px;
	border: 0;
}

/* footer section */
.main-footer {
	padding: 2em 0;
	background: var(--clr-black);
	color: var(--clr-white);
}

.footer-links {
	color: var(--clr-white);
}

.email-us {
	text-align: center;
	margin: 2em 0 0;
}

.email {
	color: var(--clr-blue);
}

.icons {
	display: flex;
	gap: 1em;
}

.footer-links:hover,
.footer-links:focus {
	color: var(--clr-blue);
}

.links {
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.copyright {
	text-align: center;
	margin-bottom: 0;
}

/* DESKTOP MOBILE MENU */

@media (min-width: 900px) {
	.header-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar-list {
		height: auto;
		width: auto;
		position: static;
		background: none;
		transition: none;
		z-index: auto;
		flex-direction: row;
		order: -1;
		/* margin-right: 3em; */
	}

	.mobile-menu {
		display: none;
	}

	.navbar-list li {
		padding-top: 0;
	}

	.navbar-list > li {
		padding-right: 1.2em;
	}

	.navbar-list li a {
		color: var(--clr-black);
		/* font-size: 1.5rem; */
	}
}
