html {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: 'Cabin', sans-serif;
	line-height: 1.6;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: white;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

section,
footer {
	padding: 2em 0;
	margin: 1em 0;
}

.container {
	max-width: 375px;
	width: 90%;
	margin: 0 auto;
}

// buttons
.btn {
	display: inline-block;
	padding: 1em 2.5em;
	border: 1px solid #ec666a;
	margin: 1em 0;
}
